.row {
    display: flex;
  }
  
.column {
    float: left;
}
  
.left {
    width: 25%;
    font-family: 'Poppins', sans-serif;
}
  
.right {
    width: 75%;
    background: #F0F5F9;
    font-family: 'Poppins', sans-serif;
}